.formInput {
	position: relative;
	margin: 45px 0;
}
.formInput__input {
	background: none;
	background-color: white;
	color: black;
	font-size: 20px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid grey;
	margin: 25px 0;
	outline: none;
}

input[type='password'] {
	letter-spacing: 0.3em;
}

.formInput__label {
	color: grey;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 300ms ease all;
}

.formInput__shrinkLabel {
	top: -16px;
	font-size: 14px;
	color: black;
}
