.prevButton__container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 10px 0;
}

.prevButton__container > .prevButton__button {
	background-color: black;
	font-weight: 600;
	font-size: 15px;
	max-width: 125px;
	width: 100%;
	color: white;
}

.prevButton__container > .prevButton__button:hover {
	color: black;
}
